<tr>
  <td><%= reservation.id %></td>
  <td><%= reservation.employee.name %></td>
  <td><%= reservation.scooter.number %></td>
  <td><%= l(reservation.from, format: :long) %></td>
  <td><%= l(reservation.to, format: :long) %></td>
  <td><%= l(reservation.created_at, format: :long) %></td>
  <td>
  </td>
</tr>