<tr>
  <td><%= scooter.id %></td>
  <td><%= scooter.number %></td>
  <td><%= l(scooter.created_at, format: :long) %></td>
  <td>
    <div class="btn-group btn-group-sm float-end">
      <%= link_to fas_icon('pen-to-square'), edit_scooter_path(scooter), class: 'btn btn-primary' %>
      <%= link_to fas_icon('trash'), scooter_path(scooter), class: 'btn btn-danger', data: { turbo_method: :delete } %>
    </div>
  </td>
</tr>