<!DOCTYPE html>
<html>
<head>
  <title><%= t('.title') %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><%= fas_icon 'motorcycle', text: t('.title') %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <%= nav_item t('.scooters'), scooters_path, controller: 'scooters' %>
        <%= nav_item t('.employees'), employees_path, controller: 'employees' %>
        <%= nav_item t('.reservations'), reservations_path, controller: 'reservations' %>
      </ul>
    </div>
  </div>
</nav>
<div class="container-xxl mt-3">
  <%= yield %>
</div>
</body>
</html>
